
/* 
Colour sheme:
dark teal: #002B3E
teal: #00475D
light pink: #C1A097
pink: #967179
dark pink: #5D2D45
dark cherry: #441326

*/

* { 
    box-sizing: border-box;
}


body {
    background-image: radial-gradient(farthest-corner at 0px 0px,
    rgb(243, 248, 194) 10%, #93e3fc 100%);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}