
.container {
    background-image: url(/images/backgroundSky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 10em;
}


.email-icon {
position: fixed;
left: 5em;
top: 2em;
font-size: 1.6em;
color: #00475D;
}

.email-icon:hover {
    color: #002B3E;
}

.language-select {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 8em;
    top: 2em;
    font-weight: 700;
}

.language-select p {
    padding: 0.3em;
}

.active-language {
    background-color: rgba(241, 231, 231, 0.8);
}

.nav-section ul {
    list-style-type: none;
    font-weight: 700;
}

.nav-section a:hover {
    color: #00475D;
    text-decoration: underline;
}


.quote-section {
    font-family: 'Dancing Script', cursive;
}

.quote {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

.quote-author {
    font-size: 0.8em;
    margin: 0 auto;
}

.footer-email {
    position: fixed;
    bottom: 2em;
    left: 3em;
}

.GDPR {
    position: fixed;
    bottom: 2em;
    right: 3em;
}

.footer-email-link, .GDPR {
    text-decoration: none;
    color: #00475D;
    font-weight: 600;
}

.footer-email-link {
    font-style: italic;
}

.footer-email-link:hover {
    text-decoration: underline;
    color: #002B3E;
}

@media only screen and (max-width: 992px) {
    .quote {
        font-size: 1.5em;
    }
    .language-select {
        right: 6em;
        font-size: 0.8em;
        top: 3em;
    }
    .email-icon {
        left: 4em;
        }
}

@media only screen and (max-width: 768px) {
    .quote {
        font-size: 1.3em;
    }
    .language-select {
        right: 3em;
    }
    .email-icon {
        left: 3em;
        }

    .footer-section {
        margin-top: 3em;
    }
}
    
@media only screen and (max-width: 480px) {
    .email-icon {
        left: 1.5em;
        top: 1.5em;
        font-size: 1.3em;
    }
    .language-select {
        right: 3em;
        top: 2.7em;
        font-size: 0.6em;
    }
    #logo {
        width: 8em;
    }

    .quote {
        font-size: 1em;
        text-align: center;
        margin: 1em 1em;
    }

    .footer-email-link {
        font-size: 0.7em;
    }

    .GDPR {
        font-size: 0.7em;
    }
    
}