/* breakpoints to use:  (480px, 768px, 992px és 1200px) */

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-items: center;
}

.logo-section {
    display: flex;
    margin: 1em auto 0;
}

.nav-section {
    display: flex;
    margin: 0 auto 0.2em;
}

.nav-section ul li {
    display: inline;
    margin: 0 2em;
}

.img-section {
    display: flex;
    justify-items: center;
    margin: 0 auto;
    width: 33%;
}

.img-section img {
    width: 100%;
}

.quote-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    margin: 1em auto;
    flex-direction: row;
}

@media only screen and (max-width: 1200px) {
    .logo-section {
        margin-bottom: 1em;
       }
       
    .img-section {
        width: 45%;
}
}

@media only screen and (max-width: 992px) {
   .logo-section {
    margin-bottom: 2em;
   }

    .img-section {
        width: 55%;
}
    .nav-section ul li {
        display: inline;
        margin: 0 1em;
}
    .nav-section ul {
        margin-left: -2em;
}

}

@media only screen and (max-width: 768px) {
    .logo-section {
        margin-bottom: 3em;
       }

    .img-section {
        width: 68%;
}
    .nav-section ul li {
        display: inline;
        margin: 0 0.5em;
}
}

@media only screen and (max-width: 480px) {

    .logo-section {
        margin: 0 auto 4em;
    }

   /*  .nav-section {
        display: none;
    }
    */

    .img-section {
        width: 90%;
    }

    .footer-section {
        flex-direction: column;
    }

    .nav-section {
        line-height: 1.8em;
        text-align: center;
    }
}